body {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: white;
  margin: 0;
  padding-bottom: 5px;
  text-align: left;
  list-style: none;
  position: relative;
  left: 3px;
}

h2 {
  color: #666363;
  font-size: 15px;
  margin-bottom: 15px;
  text-align: left;
  left: 5px;
}

h3 {
  color: #666363;
  font-size: 15px;
}

ul {
  margin: 0 0 5px;
  padding-left: 10px;
}

li {
  color: white;
  font-size: 15px;
  font-weight: 200;
  height: 20px;
  line-height: 19px;
  text-align: left;
  list-style: none;
  position: relative;
}

p {
  color: white;
  font-size: 15px;
  font-weight: 200;
  height: 20px;
  line-height: 19px;
  text-align: left;
  list-style: none;
  position: relative;
  margin-bottom: 0px;
  padding-left: 10px;
}

.search-bar {
  margin-bottom: -10px;
}

.fa-location-dot {
  position: relative;
  top: -29px;
  left: 225px;
  font-size: 20px;
  color: white;
  margin-top: 2.8px;
}

.fa-location-dot:hover {
  color: #0071bc;
}

.form-control {
  border: none;
}

.units {
  color: white;
  position: relative;
  top: -78px;
  font-size: 20px;
  text-decoration: none;
}

.btn {
  position: relative;
  top: -33px;
  left: 217px;
  font-size: 15px;
  padding: 3.6px 15px;
  margin-top: 2.5px;
  color: #666363;
  border: none;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background: #0071bc;
  color: white;
}

.date {
  color: white;
  font-size: 15px;
  font-weight: 200;
  height: 20px;
  line-height: 19px;
  list-style: none;
  margin: 0;
}

.time {
  color: white;
  font-size: 15px;
  font-weight: 200;
  height: 20px;
  line-height: 19px;
  text-align: left;
  list-style: none;
}

.row {
  margin-left: -15px;
}

.temperature {
  color: white;
  font-size: 130px;
  font-weight: 400;
  line-height: 1;
}

.listTwo {
  color: white;
  margin-top: 15px;
  padding-bottom: 25px;
}

.full-week-weather {
  color: #666363;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 200;
  line-height: 19px;
  margin-left: 10px;
  margin-right: 10px;
}

.weather-forecast-date {
  color: #666363;
  font-size: 15px;
  margin: 0 0 10px;
  padding: 0;
}

.weather-forecast-temperatures {
  color: #666363;
  font-size: 13px;
  padding-top: 10px;
}

.full-forecast-temperature-min {
  color: #666363;
  opacity: 0.6;
  font-size: 13px;
}

.col-2 {
  text-align: center;
}

.background-image-sun {
  max-width: 480px;
  height: 640px;
  background-image: url(../img/background-image-sun.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  transition: all 200ms fade-out 200ms;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 30px 30px 30px 30px;
  border-radius: 15px;
}

.background-image-clouds {
  max-width: 480px;
  height: 640px;
  background-image: url(../img/background-image-clouds.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  transition: all 200ms fade-out 200ms;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 30px 30px 30px 30px;
  border-radius: 15px;
}

.background-image-rain {
  max-width: 480px;
  height: 640px;
  background-image: url(../img/background-image-rain.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  transition: all 200ms fade-out 200ms;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 30px 30px 30px 30px;
  border-radius: 15px;
}

#icon {
  position: relative;
  left: 150px;
  margin-top: -250px;
  margin-right: -190px;
}

#weather-icons {
  color: #666363;
  margin-bottom: 10px;
  font-size: 20px;
}

#open-source-code {
  color: #666363;
  font-weight: 200;
  font-size: 12px;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
  display: block;
}

a:link {
  text-decoration: none;
}
